/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f9;
    color: #333;
    transition: 0.3s;
}

/* ===== MODE SOMBRE ===== */
body.dark {
    background-color: #121212;
    color: #eaeaea;
}

body.dark header,
body.dark footer,
body.dark .navbar {
    background: #1e1e1e;
}

body.dark .card {
    background: #1f1f1f;
}

/* ===== NAVBAR ===== */
.navbar {
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

#darkModeBtn {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

/* ===== BURGER ===== */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

/* ===== HEADER ===== */
header {
    background: linear-gradient(135deg, #003366, #0055aa);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

/* ===== MAIN ===== */
main {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.intro {
    text-align: center;
    margin-bottom: 50px;
}

.intro h2 {
    color: #003366;
    margin-bottom: 15px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    color: #0055aa;
    margin-bottom: 15px;
}

.card ul {
    list-style: none;
}

.card ul li {
    margin-bottom: 10px;
    padding-left: 18px;
    position: relative;
}

.card ul li::before {
    content: "✔";
    color: #0055aa;
    position: absolute;
    left: 0;
}

/* ===== FOOTER ===== */
footer {
    color: rgb(29, 21, 21);
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    
  font-size: 14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: #003366;
        flex-direction: column;
        width: 200px;
        display: none;
        padding: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }
}
